index.html filter=lfs diff=lfs merge=lfs -text
modules.html filter=lfs diff=lfs merge=lfs -text
types/protocol.RuleSet.html filter=lfs diff=lfs merge=lfs -text
types/PuzzleOpponentMoveMode.html filter=lfs diff=lfs merge=lfs -text
functions/GoMath.makeObjectMatrix.html filter=lfs diff=lfs merge=lfs -text
interfaces/GobanChatLogLine.html filter=lfs diff=lfs merge=lfs -text
interfaces/JGOFPlayer.html filter=lfs diff=lfs merge=lfs -text
interfaces/protocol.ClientToAIServer.html filter=lfs diff=lfs merge=lfs -text
variables/GOBAN_FONT.html filter=lfs diff=lfs merge=lfs -text
functions/GoMath.makeEmptyObjectMatrix.html filter=lfs diff=lfs merge=lfs -text
interfaces/GobanMoveErrorMessageObject.html filter=lfs diff=lfs merge=lfs -text
interfaces/JGOFClockWithTransmitting.html filter=lfs diff=lfs merge=lfs -text
types/MoveTreePenMarks.html filter=lfs diff=lfs merge=lfs -text
functions/set_OGSScoreEstimator.html filter=lfs diff=lfs merge=lfs -text
interfaces/GobanMetrics.html filter=lfs diff=lfs merge=lfs -text
interfaces/GoThemeBackgroundReactStyles.html filter=lfs diff=lfs merge=lfs -text
types/JGOFTimeControlSpeed.html filter=lfs diff=lfs merge=lfs -text
functions/resizeDeviceScaledCanvas.html filter=lfs diff=lfs merge=lfs -text
interfaces/AudioClockEvent.html filter=lfs diff=lfs merge=lfs -text
functions/GoMath.stripModeratorOnlyExtraInformation.html filter=lfs diff=lfs merge=lfs -text
functions/movesFromBoardState.html filter=lfs diff=lfs merge=lfs -text
types/GobanIOErrorMessageId.html filter=lfs diff=lfs merge=lfs -text
types/GobanModes.html filter=lfs diff=lfs merge=lfs -text
functions/GoMath.coor_num2ch.html filter=lfs diff=lfs merge=lfs -text
functions/GoMath.pretty_coor_ch2num.html filter=lfs diff=lfs merge=lfs -text
classes/MoveTree.html filter=lfs diff=lfs merge=lfs -text
classes/TypedEventEmitter.html filter=lfs diff=lfs merge=lfs -text
interfaces/AdHocClock.html filter=lfs diff=lfs merge=lfs -text
interfaces/AdHocPlayer.html filter=lfs diff=lfs merge=lfs -text
interfaces/GoEngineState.html filter=lfs diff=lfs merge=lfs -text
interfaces/JGOFAIReview.html filter=lfs diff=lfs merge=lfs -text
classes/GobanMoveError.html filter=lfs diff=lfs merge=lfs -text
classes/GoTheme.html filter=lfs diff=lfs merge=lfs -text
interfaces/ScoreEstimateResponse.html filter=lfs diff=lfs merge=lfs -text
functions/GoMath.trimJGOFMoves.html filter=lfs diff=lfs merge=lfs -text
interfaces/GobanSelectedThemes.html filter=lfs diff=lfs merge=lfs -text
types/LabelPosition.html filter=lfs diff=lfs merge=lfs -text
classes/GoEngine.html filter=lfs diff=lfs merge=lfs -text
classes/ScoreEstimator.html filter=lfs diff=lfs merge=lfs -text
interfaces/GobanConfig.html filter=lfs diff=lfs merge=lfs -text
classes/GobanSocket.html filter=lfs diff=lfs merge=lfs -text
functions/niceInterval.html filter=lfs diff=lfs merge=lfs -text
types/GoEngineSuperKoAlgorithm.html filter=lfs diff=lfs merge=lfs -text
types/JGOFTimeControlSystem.html filter=lfs diff=lfs merge=lfs -text
functions/placeRenderedImageStone.html filter=lfs diff=lfs merge=lfs -text
interfaces/JGOFAIReviewMoveVariation.html filter=lfs diff=lfs merge=lfs -text
functions/setGobanTranslations.html filter=lfs diff=lfs merge=lfs -text
interfaces/AdHocPlayerClock.html filter=lfs diff=lfs merge=lfs -text
functions/GoMath.encodeMovesToArray.html filter=lfs diff=lfs merge=lfs -text
functions/preRenderImageStone.html filter=lfs diff=lfs merge=lfs -text
functions/GoMath.encodeMoves.html filter=lfs diff=lfs merge=lfs -text
functions/validateCanvas.html filter=lfs diff=lfs merge=lfs -text
interfaces/GobanSocketEvents.html filter=lfs diff=lfs merge=lfs -text
interfaces/JGOFIntersection.html filter=lfs diff=lfs merge=lfs -text
interfaces/JGOFMove.html filter=lfs diff=lfs merge=lfs -text
interfaces/ScoreEstimateRequest.html filter=lfs diff=lfs merge=lfs -text
classes/GobanCore.html filter=lfs diff=lfs merge=lfs -text
functions/deviceCanvasScalingRatio.html filter=lfs diff=lfs merge=lfs -text
variables/GoThemesSorted.html filter=lfs diff=lfs merge=lfs -text
types/AnalysisTool.html filter=lfs diff=lfs merge=lfs -text
types/protocol.Size.html filter=lfs diff=lfs merge=lfs -text
interfaces/GoEngineInitialState.html filter=lfs diff=lfs merge=lfs -text
types/PuzzlePlacementSetting.html filter=lfs diff=lfs merge=lfs -text
functions/GoMath.encodePrettyCoord.html filter=lfs diff=lfs merge=lfs -text
interfaces/BoardState.html filter=lfs diff=lfs merge=lfs -text
types/GobanMoveErrorMessageId.html filter=lfs diff=lfs merge=lfs -text
functions/shortDurationString.html filter=lfs diff=lfs merge=lfs -text
interfaces/GoThemeBackgroundCSS.html filter=lfs diff=lfs merge=lfs -text
interfaces/ReviewMessage.html filter=lfs diff=lfs merge=lfs -text
types/GoMath.Intersection.html filter=lfs diff=lfs merge=lfs -text
types/GoMath.NumberMatrix.html filter=lfs diff=lfs merge=lfs -text
types/GoMath.StringMatrix.html filter=lfs diff=lfs merge=lfs -text
variables/focus_tracker.html filter=lfs diff=lfs merge=lfs -text
interfaces/GoEnginePlayerEntry.html filter=lfs diff=lfs merge=lfs -text
interfaces/JGOFPlayerSummary.html filter=lfs diff=lfs merge=lfs -text
functions/GoMath.decodeGTPCoordinate.html filter=lfs diff=lfs merge=lfs -text
functions/interpolate.html filter=lfs diff=lfs merge=lfs -text
interfaces/ConditionalMoveTree.html filter=lfs diff=lfs merge=lfs -text
interfaces/GobanHooks.html filter=lfs diff=lfs merge=lfs -text
types/GobanErrorMessageId.html filter=lfs diff=lfs merge=lfs -text
classes/GoConditionalMove.html filter=lfs diff=lfs merge=lfs -text
enums/protocol.RemoteStorageReplication.html filter=lfs diff=lfs merge=lfs -text
interfaces/GoThemesInterface.html filter=lfs diff=lfs merge=lfs -text
interfaces/JGOFPauseState.html filter=lfs diff=lfs merge=lfs -text
variables/SCORE_ESTIMATION_TRIALS.html filter=lfs diff=lfs merge=lfs -text
classes/Goban.html filter=lfs diff=lfs merge=lfs -text
interfaces/GoEngineConfig.html filter=lfs diff=lfs merge=lfs -text
interfaces/JGOFNoneTimeControl.html filter=lfs diff=lfs merge=lfs -text
interfaces/MoveTreeJson.html filter=lfs diff=lfs merge=lfs -text
variables/AUTOSCORE_TOLERANCE.html filter=lfs diff=lfs merge=lfs -text
interfaces/AIReviewWorstMoveEntry.html filter=lfs diff=lfs merge=lfs -text
interfaces/JGOFCanadianTimeControl.html filter=lfs diff=lfs merge=lfs -text
functions/_.html filter=lfs diff=lfs merge=lfs -text
interfaces/JGOFClock.html filter=lfs diff=lfs merge=lfs -text
types/GoEnginePhase.html filter=lfs diff=lfs merge=lfs -text
functions/elementOffset.html filter=lfs diff=lfs merge=lfs -text
functions/getWorstMoves.html filter=lfs diff=lfs merge=lfs -text
functions/GoMath.sortMoves.html filter=lfs diff=lfs merge=lfs -text
interfaces/JGOFByoYomiTimeControl.html filter=lfs diff=lfs merge=lfs -text
functions/dup.html filter=lfs diff=lfs merge=lfs -text
functions/GoMath.decodeMoves.html filter=lfs diff=lfs merge=lfs -text
types/GobanChatLog.html filter=lfs diff=lfs merge=lfs -text
functions/GoMath.ojeSequenceToMoves.html filter=lfs diff=lfs merge=lfs -text
interfaces/PlayerScore.html filter=lfs diff=lfs merge=lfs -text
types/PuzzlePlayerMoveMode.html filter=lfs diff=lfs merge=lfs -text
variables/SCORE_ESTIMATION_TOLERANCE.html filter=lfs diff=lfs merge=lfs -text
classes/GobanError.html filter=lfs diff=lfs merge=lfs -text
interfaces/PuzzleConfig.html filter=lfs diff=lfs merge=lfs -text
interfaces/AdHocPauseControl.html filter=lfs diff=lfs merge=lfs -text
interfaces/ColoredCircle.html filter=lfs diff=lfs merge=lfs -text
modules/GoMath.html filter=lfs diff=lfs merge=lfs -text
types/GoMath.Move.html filter=lfs diff=lfs merge=lfs -text
functions/GoMath.encodeMoveToArray.html filter=lfs diff=lfs merge=lfs -text
functions/GoMath.makeMatrix.html filter=lfs diff=lfs merge=lfs -text
interfaces/protocol.GameListWhere.html filter=lfs diff=lfs merge=lfs -text
types/GoEngineRules.html filter=lfs diff=lfs merge=lfs -text
types/PlayerColor.html filter=lfs diff=lfs merge=lfs -text
types/protocol.AutomatchCondition.html filter=lfs diff=lfs merge=lfs -text
variables/AUTOSCORE_TRIALS.html filter=lfs diff=lfs merge=lfs -text
variables/MARK_TYPES.html filter=lfs diff=lfs merge=lfs -text
enums/JGOFNumericPlayerColor.html filter=lfs diff=lfs merge=lfs -text
interfaces/JGOFFischerTimeControl.html filter=lfs diff=lfs merge=lfs -text
interfaces/JGOFPlayerClock.html filter=lfs diff=lfs merge=lfs -text
functions/closeErrorCodeToString.html filter=lfs diff=lfs merge=lfs -text
functions/GoMath.positionId.html filter=lfs diff=lfs merge=lfs -text
functions/GoMath.pretty_coor_num2ch.html filter=lfs diff=lfs merge=lfs -text
interfaces/AdHocFormat.html filter=lfs diff=lfs merge=lfs -text
interfaces/GobanBounds.html filter=lfs diff=lfs merge=lfs -text
interfaces/JGOFAbsoluteTimeControl.html filter=lfs diff=lfs merge=lfs -text
types/AdHocPackedMove.html filter=lfs diff=lfs merge=lfs -text
types/GobanErrorMessageObject.html filter=lfs diff=lfs merge=lfs -text
classes/GoStoneGroup.html filter=lfs diff=lfs merge=lfs -text
functions/getRelativeEventPosition.html filter=lfs diff=lfs merge=lfs -text
types/Group.html filter=lfs diff=lfs merge=lfs -text
interfaces/MoveTreeChatLine.html filter=lfs diff=lfs merge=lfs -text
types/ConditionalMoveResponse.html filter=lfs diff=lfs merge=lfs -text
functions/GoMath.num2char.html filter=lfs diff=lfs merge=lfs -text
functions/init_score_estimator.html filter=lfs diff=lfs merge=lfs -text
interfaces/protocol.ServerToClient.html filter=lfs diff=lfs merge=lfs -text
classes/TestGoban.html filter=lfs diff=lfs merge=lfs -text
functions/allocateCanvasOrError.html filter=lfs diff=lfs merge=lfs -text
interfaces/JGOFAIReviewMove.html filter=lfs diff=lfs merge=lfs -text
interfaces/JGOFSimpleTimeControl.html filter=lfs diff=lfs merge=lfs -text
interfaces/Score.html filter=lfs diff=lfs merge=lfs -text
modules/protocol.html filter=lfs diff=lfs merge=lfs -text
types/protocol.Speed.html filter=lfs diff=lfs merge=lfs -text
functions/GoMath.encodeMove.html filter=lfs diff=lfs merge=lfs -text
interfaces/GobanIOErrorMessageObject.html filter=lfs diff=lfs merge=lfs -text
types/LegacyEventsShim.html filter=lfs diff=lfs merge=lfs -text
interfaces/protocol.ClientToServer.html filter=lfs diff=lfs merge=lfs -text
types/JGOFTimeControl.html filter=lfs diff=lfs merge=lfs -text
functions/set_remote_scorer.html filter=lfs diff=lfs merge=lfs -text
interfaces/JGOF.html filter=lfs diff=lfs merge=lfs -text
interfaces/MarkInterface.html filter=lfs diff=lfs merge=lfs -text
interfaces/MoveTreeChatLineBody.html filter=lfs diff=lfs merge=lfs -text
classes/GoStoneGroups.html filter=lfs diff=lfs merge=lfs -text
functions/deepEqual.html filter=lfs diff=lfs merge=lfs -text
functions/GoMath.prettyCoords.html filter=lfs diff=lfs merge=lfs -text
interfaces/protocol.AIServerToClient.html filter=lfs diff=lfs merge=lfs -text
interfaces/StateUpdateEvents.html filter=lfs diff=lfs merge=lfs -text
functions/createDeviceScaledCanvas.html filter=lfs diff=lfs merge=lfs -text
functions/GoMath.coor_ch2num.html filter=lfs diff=lfs merge=lfs -text
functions/GoMath.makeStringMatrix.html filter=lfs diff=lfs merge=lfs -text
interfaces/Events.html filter=lfs diff=lfs merge=lfs -text
interfaces/GobanStrings.html filter=lfs diff=lfs merge=lfs -text
types/AnalysisSubTool.html filter=lfs diff=lfs merge=lfs -text
variables/GoThemes.html filter=lfs diff=lfs merge=lfs -text
functions/computeAverageMoveTime.html filter=lfs diff=lfs merge=lfs -text
functions/getRandomInt.html filter=lfs diff=lfs merge=lfs -text
assets/main.js filter=lfs diff=lfs merge=lfs -text
assets/search.js filter=lfs diff=lfs merge=lfs -text
assets/highlight.css filter=lfs diff=lfs merge=lfs -text
assets/style.css filter=lfs diff=lfs merge=lfs -text
